{%- assign this_lid = page.lid | default: site.lang_id -%}
<nav class="
{%- if page.unfinished -%}
  {{ site.res.colors.ui_color_gray1 }}
{%- else -%}
  {%- if page.ui_color1 -%}
    {{ page.ui_color1 }}
  {%- else -%}
    {{ site.res.colors.ui_color1 }}
  {%- endif -%}
{%- endif -%}" role="navigation">
  <div class="nav-wrapper container">
    {%- assign home_page_url = site.config.main_page_url -%}
    {%- assign home_page_url = home_page_url | where: "lid", this_lid | default: home_page_url | first -%}

    <a id="logo-container" class="brand-logo" href="{{ home_page_url.res | default: "/" | relative_url }}">
      <img src="/assets/logos/nz666.png" height="45" style="vertical-align: middle;"></img>
    </a>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths %}
    <ul class="right hide-on-med-and-down">
      <li>{{--}}
        <a href="{{ home_page_url.res | default: "/" | relative_url }}">
          {%- assign lr = site.lres.res_home_title -%}
          {%- assign lr = lr | where:"lid", this_lid | default: lr | first -%}
          {{- lr.res -}}
        </a>{{--}}
      </li>
      {%- if page_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.lid != this_lid -%}
            {%- continue -%}
          {%- endif -%}
          {%- assign page_title = my_page.lname -%}
          {%- if page_title -%}
      <li>{{--}}
        <a href="{{ my_page.url | relative_url }}">{{- page_title | escape -}}</a>{{--}}
      </li>
          {%- endif -%}
        {%- endfor -%}
      {%- endif %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="sidenav-close"><i class="material-icons">menu</i></a></li>
      <li>{{--}}
        <a href="{{ home_page_url.res | default: "/" | relative_url }}">
        {%- assign lr = site.lres.res_home_title -%}
        {%- assign lr = lr | where:"lid", this_lid | default: lr | first -%}
        {{- lr.res -}}
        </a>{{--}}
      </li>
      {%- if page_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.lid != this_lid -%}
            {%- continue -%}
          {%- endif -%}
          {%- assign page_title = my_page.lname -%}
          {%- if page_title -%}
      <li>{{--}}
        <a href="{{ my_page.url | relative_url }}">{{- page_title | escape -}}</a>{{--}}
      </li>
          {% endif -%}
        {%- endfor -%}
      {%- endif -%}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>