---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

$platform_tag_height: 24px;
$platform_tag_img_height: 16px;

.platform_tag
{
    height: $platform_tag_height;
}

.platform_tag img
{
    border-radius: 0%;
    height: $platform_tag_img_height; 
    width: auto; 
    margin: auto;
    margin-top: ($platform_tag_height - $platform_tag_img_height)/2;
    margin-bottom: ($platform_tag_height - $platform_tag_img_height)/2;
}

.page-bottom
{
    margin-bottom: 20px;
}
.page-bottom h6
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.page-bottom a
{
    margin: 10px;
}

.av-detail .line
{
    margin-top: 10px;
}

.av-detail .line .header
{
    display: inline-block;
    margin-right: 10px;
}

.av-detail .name
{
    font-size: 1.8em;
    margin: 5px;
}

.av-detail .date
{
    font-size: 0.8em;
    margin: 5px;
    display: inline-block;
}

.av-pictbox
{
    position: relative;
}

.av-pictbox img
{
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

$img-boxshadow-style: inset 0px 0px 10px 20px #fff;
.av-pictbox::after
{
    position: absolute;
    top: 0px; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    -webkit-box-shadow: $img-boxshadow-style;
    box-shadow: $img-boxshadow-style;
}

.shadow
{
    transition: box-shadow 1s;
}

