---
layout: default
---
{%- if page.unfinished -%}
  {% assign this_color1 = site.res.colors.ui_color_gray1 %}
{%- else -%}
  {%- if page.ui_color1 -%}
    {%- assign this_color1 = page.ui_color1 -%}
  {%- else -%}
    {%- assign this_color1 = site.res.colors.ui_color1 -%}
  {%- endif -%}  
{%- endif -%}
  <div class="section no-pad-bot {{ this_color1 }}" id="index-banner">
    <div class="container">
      <br />
      <div class="center white-text">
        {{ content }}
      </div>
      <br />
      <div class="row center white-text">
        <div class="container">
          <h5 class="header col s12 m8 offset-m2 ">{{ page.home_res_01 | default: "page.home_res_01" | escape }}</h5>
        </div>
        <br />
        {%- assign home_info_01 = page.home_res_02 | default: "page.home_res_02" -%}
        {%- assign home_info_02 = page.home_res_03 | default: "page.home_res_03" -%}
        {%- assign home_info_03 = page.home_res_04 | default: "page.home_res_04" -%}
        {%- assign av_count = site.uploaders | size -%}
        {%- assign coding_count = 0 -%}
        {%- assign life_count = 0 -%}
        {%- for post in site.posts -%}
          {%- for category in post.categories -%}
            {%- if category == page.home_res_05 -%}
              {%- assign coding_count = coding_count | plus: 1 -%}
            {%- endif -%}
            {%- if category == page.home_res_06 -%}
              {%- assign life_count = life_count | plus: 1 -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
        {%- assign home_info_01 = home_info_01 | replace: "%0", av_count -%}
        {%- assign home_info_02 = home_info_02 | replace: "%0", coding_count -%}
        {%- assign home_info_03 = home_info_03 | replace: "%0", life_count -%}
        <div class="container">  
          <div class="hide-on-small-only">
            <div class="col m4">
              <div class="icon-block">
                <h3><i class="material-icons">live_tv</i></h3>
                <h5>{{ home_info_01 }}</h5>
              </div>
            </div>
            <div class="col m4">
              <div class="icon-block">
                <h3><i class="material-icons">code</i></h3>
                <h5>{{ home_info_02 }}</h5>
              </div>
            </div>
            <div class="col m4">
              <div class="icon-block">
                <h3><i class="material-icons">clear_all</i></h3>
                <h5>{{ home_info_03 }}</h5>
              </div>
            </div>
          </div>
          <div class="col s12 hide-on-med-and-up">
            <div class="valign-wrapper">
              <div class="col s4"><i class="material-icons right" style="font-size: 28px;">live_tv</i></div>
              <div class="col s8"><h5 class="left">{{ home_info_01 }}</h5></div>
            </div>
            <div class="valign-wrapper">
              <div class="col s4"><i class="material-icons right" style="font-size: 28px;">code</i></div>
              <div class="col s8"><h5 class="left">{{ home_info_02 }}</h5></div>
            </div>
            <div class="valign-wrapper">
              <div class="col s4"><i class="material-icons right" style="font-size: 28px;">clear_all</i></div>
              <div class="col s8"><h5 class="left">{{ home_info_03 }}</h5></div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
      
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts -%}
          {%- if post.lid != page.lid -%}
            {%- continue -%}
          {%- endif -%}
        <li class="collection-item avatar">
          {%- assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link green-text text-accent-4" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p class="grey-text text-darken-2" style="margin: 5px;">
            {%- assign post_lines = post.content | strip_html | escape_once | newline_to_br | strip_newlines | replace: "<br /><br />", "<br />" | split: "<br />" -%}
            {%- assign post_content_output = post_lines[0] | append: "<br />" | append: post_lines[1] -%}
            {%- unless post.ea -%}
              {{ post_content_output | truncatewords: 10 }}
            {%- else -%}
              {{ post_content_output | truncate: 40 }}
            {%- endunless -%}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>

  </div>