---
layout: default
---
{%- if page.unfinished -%}
  {% assign this_color1 = site.res.colors.ui_color_gray1 %}
{%- else -%}
  {%- if page.ui_color1 -%}
    {%- assign this_color1 = page.ui_color1 -%}
  {%- else -%}
    {%- assign this_color1 = site.res.colors.ui_color1 -%}
  {%- endif -%}  
{%- endif -%}
  <div class="section no-pad-bot {{ this_color1 }}" id="index-banner">
    <div class="container">
      <br />
      <h3 class="header center white-text">
        <!-- {%- assign header_text = site.names -%}
        {%- assign header_text = header_text | where: "lid", page.lid | default: header_text | first -%}
        {{- header_text.res | default: "Untitled" | escape -}} -->
        “Back to my own...”
      </h3>
      <br />
      <div class="row center white-text">
        <div class="container">
          <h5 class="header col s12">Welcome to visit X230NZ666's<br />personal website with in total</h5>
          
          <div class="hide-on-small-only">
            <div class="col m4">
              <div class="icon-block">
                <h3><i class="material-icons">live_tv</i></h3>
                <h5>0 Animation</h5>
              </div>
            </div>
            <div class="col m4">
              <div class="icon-block">
                <h3><i class="material-icons">code</i></h3>
                <h5>10 Coding blogs</h5>
              </div>
            </div>
            <div class="col m4">
              <div class="icon-block">
                <h3><i class="material-icons">clear_all</i></h3>
                <h5>10 Life blogs</h5>
              </div>
            </div>
          </div>

          <div class="col s12 hide-on-med-and-up">
            <div class="valign-wrapper">
              <div class="col s4"><i class="material-icons right" style="font-size: 28px;">live_tv</i></div>
              <div class="col s8"><h5 class="left">0 Animation</h5></div>
            </div>
            <div class="valign-wrapper">
              <div class="col s4"><i class="material-icons right" style="font-size: 28px;">code</i></div>
              <div class="col s8"><h5 class="left">10 Coding blogs</h5></div>
            </div>
            <div class="valign-wrapper">
              <div class="col s4"><i class="material-icons right" style="font-size: 28px;">clear_all</i></div>
              <div class="col s8"><h5 class="left">10 Life blogs</h5></div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
      
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts -%}
        <li class="collection-item avatar">
          {%- assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link green-text text-accent-4" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p class="grey-text text-darken-2" style="margin: 5px;">
            {%- assign post_lines = post.content | strip_html | escape_once | newline_to_br | strip_newlines | replace: "<br /><br />", "<br />" | split: "<br />" -%}
            {%- assign post_content_output = post_lines[0] | append: "<br />" | append: post_lines[1] -%}
            {%- unless post.ea -%}
              {{ post_content_output | truncatewords: 10 }}
            {%- else -%}
              {{ post_content_output | truncate: 40 }}
            {%- endunless -%}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>

  </div>