---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">
        {%- assign header_text = site.names -%}
        {%- assign header_text = header_text | where: "lid", page.lid | default: header_text | first -%}
        {{- header_text.res | default: "Untitled" | escape -}}
      </h1>
      <!--
      <div class="row center">
        <h5 class="header col s12 light">
          {{- content -}}
        </h5>
      </div>-->
    </div>
  </div>
      
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts -%}
        <li class="collection-item avatar">
          {%- assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
            {%- assign post_lines = post.content | strip_html | escape_once | newline_to_br | strip_newlines | replace: "<br /><br />", "<br />" | split: "<br />" -%}
            {%- assign post_content_output = post_lines[0] | append: "<br />" | append: post_lines[1] -%}
            {%- unless post.ea -%}
              {{ post_content_output | truncatewords: 10 }}
            {%- else -%}
              {{ post_content_output | truncate: 40 }}
            {%- endunless -%}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>

  </div>